[user]
	name = Chris Darroch
	email = cdarroch@atlassian.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[github]
	user = chrisdarroch
[apply]
	whitespace = fix
[alias]
	unadd = reset HEAD
[push]
	default = tracking
[diff]
	renameLimit = 100000
[difftool]
	prompt = false
[mergetool]
	prompt = false
[log]
	date = iso
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
